/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


@media (min-width:768px) {
	body {
	  padding-top: 20px;
	  padding-bottom: 20px;
	  background-color: #3F803E;
	}	
	.header {
		margin: 5px;
		width: 100%;
	}
	.logo {
		float: left;
	}
	.logo img { 
		height: 150px;
		width: 150px;
	}
	.logo-text {
		margin: 75px 25px;
		float: left;
	}
	.logo-text span{
		font-family: 'Oswald', sans-serif;
		font-size: 60px;
		font-weight: bold;
		color: #fff;
	}
	.social-media {
		margin-top: 60px;
		float: right;
		color: #3F803E;
	}
	.social-media a {
		display: inline-block;
		color: #3F803E;
		text-align: center;
		font-size: 28px;

		height: 38px;
		width: 36px;
		background: #fff;
		margin-right: 10px;
		box-sizing: border-box;
	}
}